language: python
python:
  - "3.7"
  - "3.8"
before install:
  - pip install poetry
install:
  - poetry install
script:
  - black .
  - flake8 --max-line-length 120 --ignore=E203
  - pytest
deploy:
  provider: heroku
  api_key: $HEROKU_API_KEY
  app: "spotify-soundboard-app"
  on:
    branch: master